### В скрипте wiki_parser.py были собраны данные из википедии: численность и площадь регионов.
### Однако названия регионов в википедии и выданном датасете отличаются, и данный скрипт преобразует их к одинаковому виду, а затем объединяет в один датафрейм.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [89]:
subject_name_data = pd.read_csv('subject_name_data.csv')
# delete 'РФ'
subject_name_data = subject_name_data.iloc[:-1, :]
subject_name_data

                    subject_name  population    area
0                         Москва    12635466    2561
1             Московская область     7768878   44329
2             Краснодарский край     5687378   75485
3                Санкт-Петербург     5377503    1403
4           Свердловская область     4264340  194307
..                           ...         ...     ...
82              Республика Алтай      221559   92903
83  Еврейская автономная область      153831   36271
84           Магаданская область      137767  462464
85    Чукотский автономный округ       50040  721481
86     Ненецкий автономный округ       44540  176810

[87 rows x 3 columns]

In [90]:
subject_name_data = subject_name_data[(subject_name_data['subject_name']!='Севастополь[a]') &
                  (subject_name_data['subject_name']!='Крым[a]') &
                  (subject_name_data['subject_name']!='Архангельская безНАО ')
                                     & (subject_name_data['subject_name']!='Тюменская областьбез ХМАО и ЯНАО')]
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('край', '')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('область', '')

In [92]:
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('Республика', '')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('без ХМАО и ЯНАО', '')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('(сНАО) ', '')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace(' ', '')

/Users/leitenant_zanoza/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('СевернаяОсетия—Алания',
                                                                                  'Северная Осетия - Алания')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('Кемеровская',
                                                                                  'Кемеровская Область-Кузбасс')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('МарийЭл',
                                                                                  'Марий Эл')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('Ямало-Ненецкийавтономныйокруг',
                                                                                  'Ямало-Ненецкий')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('Ненецкийавтономныйокруг',
                                                                                  'Ненецкий')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('Чукотскийавтономныйокруг',
                                                                                  'Чукотский')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('Еврейскаяавтономная',
                                                                                  'Еврейская')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('Еврейскаяавтономная',
                                                                                  'Еврейская')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('Ханты-Мансийскийавтономныйокруг—Югра',
                                                                                  'Ханты-Мансийский Автономный Округ - Югра')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('(', '')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace(')', '')

In [ ]:
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('АрхангельскаясНАО',
                                                                                  'Архангельская')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('ТюменскаясХМАОиЯНАО',
                                                                                  'Тюменская')
subject_name_data['subject_name'] = subject_name_data['subject_name'].str.replace('Саха(Якутия)',
                                                                                  'Саха /Якутия/')

subject_name_data = subject_name_data[subject_name_data['subject_name']!='АрхангельскаябезНАО']
subject_name_data = subject_name_data[subject_name_data['subject_name']!='Крым[a]']

In [101]:
subject_name_merged = merged.merge(subject_name_data, how='inner', on='subject_name')

,label,period,subject_type,subject_name,city_name,hex,hex_lat,hex_lon,f1,f2,...,f25,f26,f27,f28,f29,f30,percent_zeros,percent_ones,population,area
0,1,2020-05-01,Город,Москва,Москва,8611aa7a7ffffff,55.729458,37.516569,0.00101,0.00103,...,NaN,NaN,NaN,NaN,0.01737,0.0,0.975096,0.024904,12635466,2561
1,1,2020-05-01,Город,Москва,Москва,8611aa7a7ffffff,55.729458,37.516569,0.00315,0.00322,...,0.66667,0.00855,0.01709,0.01709,0.00784,0.0,0.975096,0.024904,12635466,2561
2,1,2020-05-01,Город,Москва,Москва,8611aa7a7ffffff,55.729458,37.516569,0.00173,0.00175,...,0.63569,0.03718,0.03346,0.00744,0.01316,0.0,0.975096,0.024904,12635466,2561
3,1,2020-05-01,Город,Москва,Москва,8611aa7a7ffffff,55.729458,37.516569,0.00000,0.00000,...,NaN,NaN,NaN,NaN,0.02703,0.0,0.975096,0.024904,12635466,2561
4,1,2020-05-01,Город,Москва,Москва,8611aa7a7ffffff,55.729458,37.516569,0.00035,0.00033,...,NaN,NaN,NaN,NaN,0.01737,0.0,0.975096,0.024904,12635466,2561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294253,0,2020-12-01,Область,Магаданская,Магадан,8617155b7ffffff,59.647301,150.880967,0.00001,0.00001,...,0.82927,0.02439,0.00000,0.02439,0.03226,0.0,1.000000,0.000000,137767,462464
294254,0,2020-12-01,Область,Магаданская,Магадан,86171424fffffff,59.749702,150.900795,NaN,NaN,...,0.86301,0.00000,0.00000,0.02740,0.03774,0.0,1.000000,0.000000,137767,462464
294255,0,2020-12-01,Область,Магаданская,Магадан,861715c87ffffff,59.906078,150.869685,0.00076,0.00086,...,NaN,NaN,NaN,NaN,0.08696,0.0,1.000000,0.000000,137767,462464
294256,0,2020-12-01,Автономный Округ,Чукотский,Певек,8604ebc5fffffff,69.703205,170.185894,0.00001,0.00002,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,1.000000,0.000000,50040,721481
294257,0,2020-12-01,Автономный Округ,Чукотский,Певек,8604eb1a7ffffff,69.678273,170.350467,0.00001,0.00001,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,1.000000,0.000000,50040,721481

In [102]:
subject_name_merged.to_csv('train_v3.csv', index=False)

In [2]:
train = pd.read_csv('train.csv', sep=';')
train.head()

,label,period,subject_type,subject_name,city_name,hex,hex_lat,hex_lon,f1,f2,...,f21,f22,f23,f24,f25,f26,f27,f28,f29,f30
0,1,2020-05-01,Город,Москва,Москва,8611aa7a7ffffff,55.729458,37.516569,0.00101,0.00103,...,0.13027,0.0,0.00000,NaN,NaN,NaN,NaN,NaN,0.01737,0.0
1,1,2020-05-01,Город,Москва,Москва,8611aa01fffffff,55.975851,37.237085,0.00000,0.00027,...,0.08756,0.0,0.00000,NaN,NaN,NaN,NaN,NaN,0.01152,0.0
2,1,2020-05-01,Город,Москва,Москва,861181b6fffffff,55.622721,37.695121,0.00339,0.00313,...,0.09243,0.0,0.00000,0.11053,0.57895,0.00526,0.02105,0.00000,0.01540,0.0
3,1,2020-05-01,Город,Москва,Москва,8611aa017ffffff,55.941586,37.157487,0.00048,0.00054,...,0.10192,0.0,0.00049,NaN,NaN,NaN,NaN,NaN,0.01495,0.0
4,1,2020-05-01,Город,Москва,Москва,8611aa637ffffff,55.797494,37.676200,0.00164,0.00179,...,0.09620,0.0,0.00000,0.14444,0.64444,0.01111,0.04444,0.01111,0.01266,0.0

In [31]:
test = pd.read_csv('test.csv', sep=';')
test.head()

,label,period,subject_type,subject_name,city_name,hex,hex_lat,hex_lon,f1,f2,...,f21,f22,f23,f24,f25,f26,f27,f28,f29,f30
0,1,2020-11-01,Город,Москва,Москва,8611aa6b7ffffff,55.656639,37.774902,0.00292,0.00211,...,0.13385,0.0,0.00055,NaN,NaN,NaN,NaN,NaN,0.00498,0.00000
1,1,2020-11-01,Город,Москва,Москва,8611aa70fffffff,55.879910,37.583383,0.00265,0.00355,...,0.14833,0.0,0.00000,NaN,NaN,NaN,NaN,NaN,0.00333,0.00000
2,1,2020-11-01,Город,Москва,Москва,8611aa627ffffff,55.855726,37.669858,0.00046,0.00059,...,0.13562,0.0,0.00000,NaN,NaN,NaN,NaN,NaN,0.00904,0.00000
3,1,2020-11-01,Город,Москва,Москва,861181b2fffffff,55.496542,37.542584,0.00304,0.00243,...,0.15629,0.0,0.00122,0.09272,0.62252,0.00331,0.00993,0.0,0.00977,0.00122
4,1,2020-11-01,Город,Москва,Москва,8611aa4cfffffff,55.613025,37.529612,0.00183,0.00163,...,0.13333,0.0,0.00000,NaN,NaN,NaN,NaN,NaN,0.00617,0.00000

In [32]:
ones_test = test[test['label']==1].groupby(['hex'])['label'].count()
ones_df_test = pd.DataFrame(ones_test).rename({'label':'ones'}, axis=1).reset_index()

zeros_test = test[test['label']==0].groupby(['hex'])['label'].count()
zeros_df_test = pd.DataFrame(zeros_test).rename({'label':'zeros'}, axis=1).reset_index()

df_temp_test = zeros_df_test.merge(ones_df_test, how='outer', on='hex').fillna(0)
df_temp_test['sum'] = df_temp_test['zeros'] + df_temp_test['ones']

df_temp_test['percent_zeros'] = df_temp_test['zeros'] / df_temp_test['sum']
df_temp_test['percent_ones'] = df_temp_test['ones'] / df_temp_test['sum']

# объединение
merged_test = test.merge(df_temp_test[['hex', 'percent_zeros', 'percent_ones']], how='outer', on='hex')

In [103]:
subject_name_merged_test = merged_test.merge(subject_name_data, how='inner', on='subject_name')
subject_name_merged_test

,label,period,subject_type,subject_name,city_name,hex,hex_lat,hex_lon,f1,f2,...,f25,f26,f27,f28,f29,f30,percent_zeros,percent_ones,population,area
0,1,2020-11-01,Город,Москва,Москва,8611aa6b7ffffff,55.656639,37.774902,0.00292,0.00211,...,NaN,NaN,NaN,NaN,0.00498,0.00000,0.976667,0.023333,12635466,2561
1,1,2020-11-01,Город,Москва,Москва,8611aa6b7ffffff,55.656639,37.774902,0.00148,0.00176,...,0.91667,0.00000,0.00000,0.00000,0.00000,0.00000,0.976667,0.023333,12635466,2561
2,1,2020-11-01,Город,Москва,Москва,8611aa6b7ffffff,55.656639,37.774902,0.00183,0.00183,...,0.59615,0.00427,0.03419,0.00641,0.00498,0.00000,0.976667,0.023333,12635466,2561
3,1,2020-11-01,Город,Москва,Москва,8611aa6b7ffffff,55.656639,37.774902,0.00180,0.00210,...,0.66816,0.00897,0.02691,0.00448,0.00459,0.00115,0.976667,0.023333,12635466,2561
4,1,2020-11-01,Город,Москва,Москва,8611aa6b7ffffff,55.656639,37.774902,0.00045,0.00078,...,NaN,NaN,NaN,NaN,0.00498,0.00000,0.976667,0.023333,12635466,2561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152761,0,2021-05-01,Республика,Алтай,Турочак,86206915fffffff,52.291052,87.130928,0.00026,0.00025,...,0.82353,0.00000,0.00000,0.70588,0.08824,0.00000,1.000000,0.000000,221559,92903
152762,0,2021-05-01,Республика,Алтай,Чоя,862069577ffffff,51.990728,86.602610,0.00265,0.00226,...,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.000000,0.000000,221559,92903
152763,0,2021-05-01,Республика,Алтай,Улаган,86204dba7ffffff,50.629259,87.948977,0.00057,0.00046,...,1.00000,0.00000,0.14286,0.00000,0.00000,0.00000,1.000000,0.000000,221559,92903
152764,0,2021-05-01,Республика,Алтай,Улита,86206b427ffffff,50.763377,86.161251,0.00034,0.00034,...,NaN,NaN,NaN,NaN,0.00000,0.00000,1.000000,0.000000,221559,92903
152765,0,2021-05-01,Республика,Алтай,Владимировка,86206a997ffffff,51.036626,84.209675,0.00021,0.00019,...,0.84210,0.00000,0.00000,0.63158,0.00000,0.00000,1.000000,0.000000,221559,92903

In [44]:
merged_test['subject_name'].unique()

array(['Москва', 'Московская', 'Карачаево-Черкесская', 'Липецкая',
       'Калужская', 'Курская', 'Брянская', 'Воронежская', 'Тверская',
       'Тульская', 'Костромская', 'Ярославская', 'Смоленская',
       'Белгородская', 'Владимирская', 'Рязанская', 'Орловская',
       'Тамбовская', 'Ивановская', 'Архангельская', 'Санкт-Петербург',
       'Вологодская', 'Калининградская', 'Коми', 'Мурманская', 'Карелия',
       'Новгородская', 'Ленинградская', 'Псковская', 'Ненецкий',
       'Татарстан', 'Самарская', 'Марий Эл', 'Кировская', 'Мордовия',
       'Нижегородская', 'Чувашская', 'Удмуртская', 'Оренбургская',
       'Башкортостан', 'Саратовская', 'Пензенская', 'Ульяновская',
       'Краснодарский', 'Северная Осетия - Алания', 'Адыгея', 'Дагестан',
       'Ростовская', 'Ставропольский', 'Волгоградская',
       'Кабардино-Балкарская', 'Астраханская', 'Ингушетия', 'Калмыкия',
       'Свердловская', 'Ханты-Мансийский Автономный Округ - Югра',
       'Тюменская', 'Ямало-Ненецкий', 'Челябинская', 'Пермский',
       'Курганская', 'Красноярский', 'Иркутская', 'Новосибирская',
       'Забайкальский', 'Бурятия', 'Омская', 'Томская', 'Хакасия',
       'Кемеровская Область-Кузбасс', 'Алтайский', 'Тыва', 'Приморский',
       'Хабаровский', 'Камчатский', 'Сахалинская', 'Еврейская',
       'Саха /Якутия/', 'Амурская', 'Магаданская', 'Алтай'], dtype=object)

In [104]:
subject_name_merged_test.to_csv('test_v2.csv', index=False)

In [3]:
ones = train[train['label']==1].groupby(['hex'])['label'].count()

In [4]:
ones_df = pd.DataFrame(ones).rename({'label':'ones'}, axis=1).reset_index()
ones_df

                  hex  ones
0     86013400fffffff     7
1     860134047ffffff     5
2     860134077ffffff     2
3     860134147ffffff     4
4     86013440fffffff     8
...               ...   ...
1980  86316dc2fffffff     3
1981  86316dca7ffffff     2
1982  86316e057ffffff     1
1983  86316e05fffffff     1
1984  86316ebafffffff     3

[1985 rows x 2 columns]

In [5]:
zeros = train[train['label']==0].groupby(['hex'])['label'].count()
zeros_df = pd.DataFrame(zeros).rename({'label':'zeros'}, axis=1).reset_index()

In [6]:
df_temp = zeros_df.merge(ones_df, how='outer', on='hex').fillna(0)
df_temp['sum'] = df_temp['zeros'] + df_temp['ones']
df_temp

                  hex  zeros  ones   sum
0     86013400fffffff   11.0   7.0  18.0
1     860134047ffffff   22.0   5.0  27.0
2     860134077ffffff    1.0   2.0   3.0
3     860134147ffffff   10.0   4.0  14.0
4     860134167ffffff    4.0   0.0   4.0
...               ...    ...   ...   ...
7245  861f735a7ffffff    0.0   1.0   1.0
7246  86206d58fffffff    0.0   1.0   1.0
7247  86214420fffffff    0.0   1.0   1.0
7248  862145717ffffff    0.0   1.0   1.0
7249  8625207b7ffffff    0.0   1.0   1.0

[7250 rows x 4 columns]

In [7]:
df_temp['percent_zeros'] = df_temp['zeros'] / df_temp['sum']
df_temp['percent_ones'] = df_temp['ones'] / df_temp['sum']

In [8]:
df_temp.head()

               hex  zeros  ones   sum  percent_zeros  percent_ones
0  86013400fffffff   11.0   7.0  18.0       0.611111      0.388889
1  860134047ffffff   22.0   5.0  27.0       0.814815      0.185185
2  860134077ffffff    1.0   2.0   3.0       0.333333      0.666667
3  860134147ffffff   10.0   4.0  14.0       0.714286      0.285714
4  860134167ffffff    4.0   0.0   4.0       1.000000      0.000000

In [11]:
# объединение
merged = train.merge(df_temp[['hex', 'percent_zeros', 'percent_ones']], how='outer', on='hex')

In [12]:
merged.to_csv('train_.csv', index=False)